* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  height: 40px;
  width: 100%;
  background-color: #316100;
  backdrop-filter: blur(50px);
  position: fixed;
  top: 0;
  
}
nav ul {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

li a {
  text-decoration: none;
  color: white;
  padding: 10px 18px;
  border-radius: 0.7rem;
  transition: all 0.2s ease;
}

li a:hover {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(10px); /* Safari */
  border: 1px solid rgba(50, 50, 50, 0.2);
}
